---
export interface Props {
	title: string;
	description: string;
	publishDate: string;
	url: string;
}

const { title, description, publishDate, url } = Astro.props as Props;
---

<artdticle class="post-preview">
	<header class="post-preview-main">
		<time>{publishDate}</time>
		<a href={url} class="post-preview-container"><h1 class="title">{title}</h1></a>
	</header>
</artdticle>

<style>
	.post-preview {
		padding-bottom: 2rem;
		margin-bottom: 2rem;
		border-bottom: 4px solid var(--theme-divider);
	}

	.post-preview-main {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: flex-start;
	}

	.post-preview-description {
		margin-right: 10px;
	}

	.post-preview-container {
		-webkit-text-fill-color: inherit;
	}

	.post-preview-container:focus {
		outline: none;
	}

	.title,
	time {
		margin: 0;
		padding-right: 20px;
		min-width: 134px;
	}

	time {
		font-size: 1.25rem;
		color: var(--theme-text-lighter);
	}

	.title {
		font-size: 1.25rem;
		font-weight: 700;
		color: var(--theme-text);
	}

	@media (max-width: 50em) {
		time {
			min-width: 115px;
			font-size: 1rem;
			color: var(--theme-text-lighter);
		}
	}
</style>
