---
export interface Props {
	title: string;
	description: string;
	publishDate: string;
	url: string;
}

const { title, publishDate, url } = Astro.props as Props;
---

<artdticle class="post-preview">
	<header class="post-preview-main">
		<time>{publishDate}</time>
		<a href={url} class="post-preview-container"><h1 class="title">{title}</h1></a>
	</header>
</artdticle>

<style>
	.post-preview {
		border-bottom: 4px solid var(--theme-divider);
	}

	.post-preview-main {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: flex-start;
	}

	.post-preview-container {
		word-wrap: none;
		color: var(--theme-accent);
		background: linear-gradient(45deg,var(--theme-accent) 11%,#3894ff 90%);
		background-clip: text;
		-webkit-background-clip: text;
		-moz-background-clip: text;
		-moz-text-fill-color: transparent;
		-webkit-text-fill-color: transparent;
	}

	.post-preview-container:focus {
		outline: none;
	}

	time {
		margin: 0;
		padding-right: 20px;
		min-width: 134px;
	}

	time {
		font-size: 1.25rem;
		color: var(--theme-text-lighter);
	}

	.title {
		font-size: 1.25rem;
		font-weight: 700;
		margin-top: 5px;
		margin-bottom: 5px;
	}

	@media (max-width: 50em) {
		time {
			min-width: 115px;
			font-size: 1rem;
			color: var(--theme-text-lighter);
		}
	}
</style>
