<header class="wrapper">
	<nav>
		<a href="/blog-astro/">
			<span>Nguy Thang(LL)</span>
		</a>
	</nav>
</header>

<style>
	header {
		padding-top: 1rem;
		padding-bottom: 1rem;
		height: 5rem;
	}
	nav {
		display: flex;
		justify-content: space-between;
	}

	svg {
		width: 2.5rem;
		height: 2.5rem;
	}

	a {
		text-decoration: none;
		display: inline-flex;
	}
</style>
